#navEdit{
  background: white;  }
body, html {
  height: 100%;
}

h1 {
font-weight: bold;
color: cornflowerblue;
font-size: 62px;
font-family: 'Yuji Syuku', serif;
text-align: center;
}

h3 {
  font-family: 'Yuji Syuku', serif;
  font-weight: bolder;
}
#sut {
  max-width: 100%;
  height:50px;
  background-size:contain;
  background-repeat: repeat-x;
}